.window
  .window_toolbar
    .window_toolbar-title
      .window_toolbar-icon
      MineSweeper
    .window_toolbar-buttons
      .window_toolbar-button 
      .window_toolbar-button
      .window_toolbar-button X
  .window_sub-toolbar
    .window_sub-toolbar_menu
      %button Game
      .window_sub-toolbar_list
        %button{action: 'new'} New
        .divider
        %button.active{action: 'difficulty', difficulty: 8, mines: 10} Beginner
        %button{action: 'difficulty', difficulty: 16, mines: 40, disabled: true} Intermediate
        %button{action: 'difficulty', difficulty: 32, mines: 99, disabled: true} Expert
  .minesweeper
    .minesweeper_score
      .minesweeper_score-mines
        .minesweeper_score-digit
        .minesweeper_score-digit
        .minesweeper_score-digit
      .minesweeper_score-center
        %button
      .minesweeper_score-time
        .minesweeper_score-digit
        .minesweeper_score-digit
        .minesweeper_score-digit
    .minesweeper_grid

.window.window-winner
  .window_toolbar
    .window_toolbar-title
      You won!
    .window_toolbar-buttons
  .window_container
    <p>Congratulations, you won the game!</p>
    <p>Time: <span class="window-winner_timer">0</span> seconds</p>
    <button>Play again</button>