@charset "UTF-8";
body {
  background-img: url("North-Korea-security--1208x772.jpg");
  font-family: sans-serif;
  height: 100vh;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c7c8;
  border: 2px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
}
.window_toolbar {
  color: white;
  background: linear-gradient(90deg, #0d0974 0%, #3c78a6 100%);
  padding: 2px;
  min-height: 15px;
  display: flex;
  justify-content: space-between;
}
.window_toolbar-title {
  display: flex;
  align-items: center;
  font-size: 11px;
  cursor: default;
}
.window_toolbar-icon {
  background: url("https://64.media.tumblr.com/4334e5fa1f94e46d6446a12ca280cacf/9f9972b109090c71-f7/s540x810/55bd7fde6c0223fbdacd0ee0277a13cb6ede088c.png") center;
  background-size: 28px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 2px;
}
.window_toolbar-buttons {
  display: flex;
}
.window_toolbar-button {
  height: 15px;
  width: 15px;
  background-color: #c0c7c8;
  margin-left: 2px;
  font-family: "Arial Black", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  cursor: default;
  justify-content: center;
  border: 1px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
}
.window_toolbar-button:first-of-type:before {
  content: "";
  background: black;
  width: 8px;
  position: relative;
  top: 3px;
  height: 2px;
}
.window_toolbar-button:nth-last-of-type(2):before {
  content: "";
  position: absolute;
  width: 6px;
  border: 2px solid #87888f;
  border-top: 3px solid #87888f;
  background: #c0c0c0;
  height: 5px;
  top: 2px;
  left: 2px;
  z-index: 2;
}
.window_sub-toolbar {
  padding: 2px 1px 1px;
}
.window_sub-toolbar .window_sub-toolbar_menu > button {
  padding: 3px 2px;
  font-size: 12px;
  background: none;
  border: 1px solid transparent;
}
.window_sub-toolbar .window_sub-toolbar_menu > button.active, .window_sub-toolbar .window_sub-toolbar_menu > button:hover {
  border: 1px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
}
.window_sub-toolbar_list {
  position: absolute;
  min-width: 170px;
  display: none;
  flex-direction: column;
  box-shadow: -1px 1px 1px #8e979b;
  padding: 1px 1px;
  font-size: 12px;
  border: 1px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
  z-index: 999;
  background: #c0c7c8;
}
.window_sub-toolbar_list.active {
  display: flex;
}
.window_sub-toolbar_list::before {
  content: "";
  display: block;
  background: #8e979b;
  position: absolute;
  left: -1px;
  top: 1px;
  height: 20px;
}
.window_sub-toolbar_list .divider {
  border-bottom: 1px solid #8e979b;
  margin: 2px 3px;
}
.window_sub-toolbar_list button {
  background: none;
  border: none;
  padding: 5px 2px;
  font-size: 12px;
  text-align: left;
}
.window_sub-toolbar_list button:hover {
  background: blue;
  color: white;
}
.window_sub-toolbar_list button::before {
  content: "";
  width: 20px;
  display: inline-block;
}
.window_sub-toolbar_list button.active::before {
  content: "✓";
  font-size: 10px;
  width: 18px;
  padding-left: 2px;
}
.window_container {
  padding: 10px;
  max-width: 350px;
  font-size: 12px;
  text-align: center;
}
.window_container p {
  margin: 5px 0;
}
.window_container button {
  margin-top: 10px;
  border: 2px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
  font-size: 12px;
}
.window_container button:active {
  border-color: #8e979b;
  background: #8e979b;
}
.window-winner {
  display: none;
}
.window-winner.visible {
  display: block;
}

.minesweeper {
  border: 3px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
  position: relative;
  margin: 2px;
}
.minesweeper_score {
  margin: 5px;
  height: 34px;
  border: 2px solid white;
  border-left-color: #8e979b;
  border-top-color: #8e979b;
  display: flex;
  justify-content: space-between;
}
.minesweeper_score-mines, .minesweeper_score-time {
  height: 23px;
  background: black;
  border: 1px solid #8e979b;
  margin: 5px;
  display: flex;
}
.minesweeper_score-center {
  width: 23px;
  height: 23px;
  border: 1px solid #8e979b;
  margin-top: 4px;
}
.minesweeper_score-center button {
  border: 2px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
  background-color: #c0c0c0;
  height: 23px;
  width: 23px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -3px -27px;
}
.minesweeper_score-center button.spooked {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -53px -27px;
}
.minesweeper_score-center button.dead {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -153px -27px;
}
.minesweeper_score-center button.cool {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -103px -27px;
}
.minesweeper_score-center button:active {
  border-color: #c0c0c0;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -3px -27px;
}
.minesweeper_score-digit {
  width: 13px;
  height: 24px;
  overflow: hidden;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -126px 0px;
}
.minesweeper_score-digit--minus {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -140px 0px;
}
.minesweeper_score-digit--1 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.minesweeper_score-digit--2 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -14px 0px;
}
.minesweeper_score-digit--3 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -28px 0px;
}
.minesweeper_score-digit--4 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -42px 0px;
}
.minesweeper_score-digit--5 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -56px 0px;
}
.minesweeper_score-digit--6 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -70px 0px;
}
.minesweeper_score-digit--7 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -84px 0px;
}
.minesweeper_score-digit--8 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -98px 0px;
}
.minesweeper_score-digit--9 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -112px 0px;
}
.minesweeper_grid {
  margin: 5px;
  display: flex;
  border: 2px solid white;
  border-left-color: #8e979b;
  border-top-color: #8e979b;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.minesweeper_grid-row {
  border: 2px solid white;
  border-right-color: #8e979b;
  border-bottom-color: #8e979b;
  height: 14px;
  width: 14px;
  text-align: center;
  font-weight: bold;
  font-family: "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 15px;
}
.minesweeper_grid-row[cell="1"] {
  color: blue;
}
.minesweeper_grid-row[cell="2"] {
  color: green;
}
.minesweeper_grid-row[cell="3"] {
  color: red;
}
.minesweeper_grid-row[cell="4"] {
  color: darkblue;
}
.minesweeper_grid-row[cell="5"] {
  color: brown;
}
.minesweeper_grid-row[cell="6"] {
  color: cadetblue;
}
.minesweeper_grid-row[cell="8"] {
  color: grey;
}
.minesweeper_grid-row[cell="9"] {
  color: purple;
}
.minesweeper_grid-row--pressed {
  background: #c0c7c8;
  padding: 1px;
  border: 1px solid #8e979b;
}
.minesweeper_grid-row--mine {
  background-color: #c0c7c8;
  padding: 1px;
  border: 1px solid #8e979b;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -85px -49px;
}
.minesweeper_grid-row--mine-og {
  background-color: red;
  padding: 1px;
  border: 1px solid #8e979b;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -102px -49px;
}
.minesweeper_grid-row--flag {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -35px -50px;
}
.minesweeper_grid-row--flag-wrong {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05304b04-55b3-4bc6-a873-a2621a81300c/dez10av-a25c81ab-62c6-4e25-9dd2-bba0f9829055.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1MzA0YjA0LTU1YjMtNGJjNi1hODczLWEyNjIxYTgxMzAwY1wvZGV6MTBhdi1hMjVjODFhYi02MmM2LTRlMjUtOWRkMi1iYmEwZjk4MjkwNTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mErp1S3MXiPWqIL3T_gwmvssWdx4BUss0mG_iLgw27c);
  background-repeat: no-repeat;
  background-position: -120px -50px;
}
